# Exclude Python artifacts recursively
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Exclude local environment and credentials
.env
**/venv/
**/.venv/
**/env/
**/serviceAccountKey.json
.git/

# Exclude all dataset iterations and binary layers
**/data/raw/**
**/data/processed/**
**/data/test_domains/**
**/*.zip
**/*.parquet
**/*.h5
**/*.csv
**/*.dat

# Exclude local testing structures and readmes
**/tests/
**/README.md