hmmlearn==0.3.3
numpy==1.26.4
pandas>=2.2.3
scikit-learn==1.4.2
fastapi==0.115.5
uvicorn[standard]>=0.30.0
gunicorn>=21.2.0
requests>=2.32.3
google-cloud-secret-manager>=2.20.0
pydantic==2.9.2
firebase-admin==6.5.0
python-dateutil==2.9.0.post0
deap==1.4.1
tables>=3.10.1